{% include header.html %}

<article class="project-wrap">
  <div class="project-title">
    <h1 class="title">{{page.title}}</h1>
    {% if page.tags != empty %}
    <div class="categories">
      {% for tag in page.tags %}
      <span class="tags">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
    <!-- .post-meta -->
    {% if page.feature_image and page.feature_image != "" %}
    <figure class="post-thumbnail image-card width-wide">
      <img
        src="{{ page.feature_image | relative_url }}"
        alt="{{ page.title }}"
      />
    </figure>
    <!-- .post-thumbnail -->
    {% endif %}
  </div>
  <!-- .post-row -->
  <div class="post-content">{{content}}</div>
  <!-- .post-content -->
  <div class="author-box">
    {% if site.data.author.image and site.data.author.image != "" %}
    <div
      class="author-avatar"
      style="background-image: url('{{ site.data.author.image }}')"
    >
      <span class="screen-reader-text"
        >{{ site.data.author.name }}'s Picture</span
      >
    </div>
    {% endif %}
  </div>
  <!-- .author-box -->
</article>
<!-- .post -->
